.name-container {
  width: 590px;
  float: left;
}

.rule-status-container {
  height: 54px;
  line-height: 54px;
  text-align: right;
  margin-top: 15px;
}

.description-container {
  padding-bottom: 10px;

  textarea.rule-description {
    min-height: 0;
    padding: 1rem 0 0 0;
    height: 2rem;
  }
}

.title {
  padding: 5px 0;
  color: #555;
}

.pair-container:first-child:last-child .delete-pair {
  display: none;
}

.pair-container .input-group {
  display: inline-table;
  padding: 10px 5px;
}

.buttons-container .btn {
  float: right;
  border-radius: 2px;
  margin: 5px;
}
